                                                @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,403;1,403&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
                                                /* poppins font  */
                                                
                                                @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,403;1,403&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
                                                /* jost fonts */
                                                
                                                * {
                                                    padding: 0;
                                                    margin: 0;
                                                    box-sizing: border-box;
                                                    scroll-behavior: smooth;
                                                }
                                                
                                                body {
                                                    font-family: "Poppins", sans-serif;
                                                    background-color: var(--background-color);
                                                    /* font-family: "Jost", sans-serif; */
                                                }
                                                
                                                h1,
                                                h2,
                                                h3,
                                                h4,
                                                h5,
                                                h6 {
                                                    color: var(--heading-color);
                                                    /* font-weight: 600 !important; */
                                                }
                                                
                                                 :root {
                                                    --main-color: #43A046;
                                                    --heading-color: #263238;
                                                    --text-color: #717171;
                                                    --background-color: #F5F7FA;
                                                    --background-opacity-color: #f5f7faea;
                                                    --texts-color: #ffffff;
                                                }
                                                
                                                .header {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    align-items: center;
                                                    padding: 20px 73px;
                                                }
                                                
                                                .toogle_btn {
                                                    display: none;
                                                    cursor: pointer;
                                                    font-size: 25px;
                                                    color: var(--main-color);
                                                }
                                                
                                                .header_logo img {
                                                    width: 10rem;
                                                    height: auto;
                                                }
                                                
                                                ul {
                                                    display: flex;
                                                    gap: 30px;
                                                }
                                                
                                                ul li {
                                                    list-style: none;
                                                }
                                                
                                                ul li a {
                                                    text-decoration: none;
                                                    position: relative;
                                                    color: var(--heading-color);
                                                    font-size: 18px;
                                                    &::after {
                                                        content: "";
                                                        position: absolute;
                                                        left: 0;
                                                        bottom: -2px;
                                                        width: 0%;
                                                        border-bottom: 3px solid var(--main-color);
                                                        transition: all 0.3s linear;
                                                    }
                                                }
                                                
                                                ul li a:hover::after {
                                                    width: 100%;
                                                }
                                                
                                                ul li a:hover {
                                                    color: var(--text-color);
                                                }
                                                
                                                .main_heading {
                                                    color: var(--main-color);
                                                    /* font-weight: 600; */
                                                }
                                                
                                                .main_heading_size {
                                                    font-weight: 600 !important;
                                                }
                                                /* shap divider */
                                                
                                                .container_main {
                                                    background-color: var(--background-color);
                                                    position: relative;
                                                    padding: 9rem 7rem;
                                                }
                                                
                                                .custom-shape-divider-bottom-1716723829 {
                                                    position: absolute;
                                                    bottom: 0;
                                                    left: 0;
                                                    width: 100%;
                                                    overflow: hidden;
                                                    line-height: 0;
                                                    transform: rotate(180deg);
                                                }
                                                
                                                .custom-shape-divider-bottom-1716723829 svg {
                                                    position: relative;
                                                    display: block;
                                                    width: calc(100% + 1.3px);
                                                    height: 120px;
                                                }
                                                
                                                .custom-shape-divider-bottom-1716723829 .shape-fill {
                                                    fill: white;
                                                }
                                                /** For mobile devices **/
                                                
                                                @media (max-width: 767px) {
                                                    .custom-shape-divider-bottom-1716723829 svg {
                                                        width: calc(100% + 1.3px);
                                                        height: 110px;
                                                    }
                                                }
                                                
                                                #main_image {
                                                    /* border: 2px solid black; */
                                                    border: none;
                                                    mix-blend-mode: multiply;
                                                }
                                                
                                                .container_row_gap {
                                                    display: flex;
                                                    gap: 2rem;
                                                }
                                                
                                                .service_section_gap {
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    gap: 50px;
                                                    flex-wrap: wrap;
                                                }
                                                
                                                .sub_service_section {
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    gap: 50px;
                                                }
                                                
                                                .sub_features_sec {
                                                    background-color: var(--background-color);
                                                    display: flex;
                                                    gap: 2rem;
                                                }
                                                
                                                .features_heading {
                                                    color: var(--main-color);
                                                }
                                                
                                                .testimonial_section {
                                                    background-color: var(--background-color);
                                                }
                                                
                                                .sub_testimonial_section {
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    flex-wrap: wrap;
                                                    gap: 3rem;
                                                }
                                                
                                                .link_testimonial_section {
                                                    text-decoration: none;
                                                    color: var(--heading-color);
                                                    transition: all 0.2s ease-in-out;
                                                }
                                                
                                                .link_testimonial_section:hover {
                                                    color: var(--main-color);
                                                }
                                                
                                                .faq_box {
                                                    width: 25rem;
                                                    /* height: 20rem; */
                                                    position: relative;
                                                    /* border: 2px solid black; */
                                                }
                                                
                                                .faq_text {
                                                    width: 90%;
                                                    background-color: var(--background-color);
                                                    border-radius: 10px;
                                                    position: absolute;
                                                    bottom: -5.5rem;
                                                    left: 1rem;
                                                    box-shadow: 2px 0px 10px var(--text-color);
                                                }
                                                
                                                .faq_images_protion {
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    gap: 3rem;
                                                    flex-wrap: wrap;
                                                }
                                                
                                                .faq_box_link a {
                                                    color: var(--heading-color);
                                                    font-family: 'jost';
                                                    cursor: pointer;
                                                    text-decoration: none;
                                                    font-size: 18px;
                                                }
                                                
                                                .faq_image_box img:hover {
                                                    transition: all 0.3s ease-in;
                                                }
                                                
                                                .faq_image_box img:hover {
                                                    transform: scale(1.02);
                                                }
                                                
                                                .faq_box_link a:hover {
                                                    color: var(--main-color);
                                                }
                                                
                                                .sub_faq_postion {
                                                    background-color: var(--background-color);
                                                }
                                                
                                                .footer_section {
                                                    background-color: var(--heading-color);
                                                    color: var(--texts-color);
                                                }
                                                
                                                .footer_send_btn {
                                                    background-color: var(--heading-color);
                                                    color: #F5F7FA;
                                                    padding: 2px;
                                                }
                                                
                                                .foote_linkone li {
                                                    list-style: none;
                                                }
                                                
                                                .footer_icons {
                                                    display: flex;
                                                    gap: 20px;
                                                }
                                                
                                                .footer_icons_section {
                                                    background-color: var(--text-color);
                                                    /* padding: 5px; */
                                                    width: 35px;
                                                    height: 35px;
                                                    transform: rotate(45deg);
                                                    cursor: pointer;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    transition: all 0.5s ease-in;
                                                }
                                                
                                                .footer_icons_section:hover {
                                                    background-color: var(--heading-color);
                                                }
                                                
                                                .footer_icons_section i {
                                                    transform: rotate(-45deg);
                                                    font-size: 20px;
                                                }
                                                /* width */
                                                
                                                 ::-webkit-scrollbar {
                                                    width: 20px;
                                                }
                                                /* Track */
                                                
                                                 ::-webkit-scrollbar-track {
                                                    box-shadow: inset 0 0 5px grey;
                                                    border-radius: 10px;
                                                }
                                                /* Handle */
                                                
                                                 ::-webkit-scrollbar-thumb {
                                                    background: var(--main-color);
                                                    border-radius: 10px;
                                                    transition: all 0.2s ease-in
                                                }
                                                /* Handle on hover */
                                                
                                                 ::-webkit-scrollbar-thumb:hover {
                                                    background: var(--heading-color);
                                                }
                                                
                                                input {
                                                    background-color: var(--text-color);
                                                    padding: 3px 5px;
                                                    border-radius: 5px;
                                                }
                                                
                                                input::placeholder {
                                                    color: white;
                                                }
                                                
                                                .sticky {
                                                    background-color: var(--background-opacity-color);
                                                    position: fixed;
                                                    top: 0;
                                                    width: 100%;
                                                    z-index: 100;
                                                }
                                                /* .header_nav {}
                            
                            .add_class_in_nav {}
                             */
                                                /* ul {
                                position: absolute;
                                z-index: 200;
                                top: 4.1rem;
                                left: -30rem;
                                flex-direction: column;
                                width: 50%;
                                background: blueviolet;
                                height: auto;
                                padding: 20px 0;
                                text-align: center;
                                transition: all 0.2s linear;
                                justify-content: center;
                                align-items: center;
                            }
                            
                            
                            */
                                                
                                                .add_class_in_header_button {
                                                    display: flex;
                                                }
                                                
                                                .add_class_in_ul {
                                                    /* display: flex; */
                                                    left: 0;
                                                }
                                                
                                                @media only screen and (width <=1310px) {
                                                    .container_main {
                                                        padding: 6rem 5rem;
                                                    }
                                                }
                                                
                                                @media only screen and (width <=1240px) {
                                                    .container_main {
                                                        padding: 6rem 2rem;
                                                    }
                                                }
                                                
                                                @media only screen and (width <=1200px) {
                                                    .header {
                                                        padding: 20px 30px;
                                                    }
                                                }
                                                
                                                @media only screen and (width <=1500px) {
                                                    .container_main {
                                                        padding: 8rem 2rem;
                                                    }
                                                }
                                                
                                                @media only screen and (width <=1392px) {
                                                    .faq_images_protion {
                                                        gap: 8rem;
                                                    }
                                                }
                                                
                                                @media only screen and (width <=1100px) {
                                                    ul {
                                                        display: none;
                                                    }
                                                    .toogle_btn {
                                                        display: flex;
                                                    }
                                                    ul {
                                                        position: absolute;
                                                        z-index: 200;
                                                        top: 4.2rem;
                                                        left: -50rem;
                                                        flex-direction: column;
                                                        width: 50%;
                                                        background: #FFFFFF;
                                                        /* height: 100%; */
                                                        padding: 2rem 2rem;
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: end;
                                                        transition: all 0.2s linear;
                                                        border-radius: 20px;
                                                    }
                                                    ul li {
                                                        border-bottom: 2px solid var(--main-color);
                                                        padding: 0 0 20px 0;
                                                        width: 100%;
                                                        /* text-align: end; */
                                                    }
                                                }
                                                
                                                @media only screen and (width <=700px) {
                                                    ul {
                                                        width: 90%;
                                                    }
                                                }